
.text-center {
    text-align: center !important;
}

.form-signin, .form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin, .form-register input#id_username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input#id_password {
    margin-bottom: -1px;
    border-radius: 0;

}

.form-signin input#id_password, .form-register input#id_password2 {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.square {
    width: 12.5%;
    padding-top: 12.5%;
    position: relative;
}

.game-board {
    max-width: 800px;
}

.game-board .square img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

.odd .square.even, .even .square.odd {
    background-color: rgba(0, 134, 255, 0.51);
}

.even .square.even, .odd .square.odd {
    background-color: white;
}


.selected-piece, .possible-move {
    box-shadow: inset 0 0 5px 5px #007bff;
}

.possible-move {
    background-color: rgb(251, 255, 198) !important;
}

.hidden {
    display: none !important;
}