{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block extra_scripts %}

    <script src="{% static 'js/game.js' %}"></script>

{% endblock %}

{% block content %}
    <div id="content" class="container pt-5">
        {% if user_is_cat %}
            <h1>Game against <i>{{ game.mouse_user }}</i></h1>
        {% else %}
            <h1>Game against <i>{{ game.cat_user }}</i></h1>
        {% endif %}
        <p>Game: <b>{{ game.id }}</b></p>
        {% if request.session.current_move %}
            <p>Move: <b
                    id="current-move">{{ request.session.current_move }}</b>
            </p>
        {% endif %}
        {% csrf_token %}
        {% if is_active %}
            <p>
                Cats: <b>{{ game.cat_user.username }}</b>
                {% if user_is_cat %}
                    <blockquote id="cat-waiting" class="hidden">
                        Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal"
                           href="{% url 'show_game' %}">Refresh</a>
                    </blockquote>
                {% endif %}
            </p>
            <p>
                Mouse: <b>{{ game.mouse_user.username }}</b>
                {% if not user_is_cat %}
                    <blockquote id="mouse-waiting" class="hidden">
                        Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal"
                           href="{% url 'show_game' %}">Refresh</a>
                    </blockquote>
                {% endif %}
            </p>
        {% else %}
            <h3>Game is finished!</h3>
            {% if game.winner == request.user %}
                <h3>You have won! Congratulations!</h3>
            {% else %}
                <h3>Your opponent has won, better luck next time!</h3>
            {% endif %}
            <br>
            <div class="container">
                <button id="replay-backwards" class="btn btn-primary">⏮
                </button>
                <button id="replay-play" class="btn btn-primary">►</button>
                <button id="replay-forwards" class="btn btn-primary hidden">⏭
                </button>
            </div>
        {% endif %}

        {% if board %}
            <div class="game-board container border border-primary">
                {% for item in board %}
                    {% if forloop.counter0|divisibleby:8 %}
                        <div class="row {% cycle 'even' 'odd' %}">{% endif %}
                <div class="col square {% cycle 'even' 'odd' %}"
                     id="square-{{ item.number }}">
                    <div class="">
                        {% if item.cat %}
                            {% if user_is_cat %}
                                <img class="ours"
                                     src="{% static 'img/cat-selected.png' %}"
                                     alt="Cat">
                            {% else %}
                                <img src="{% static 'img/cat.png' %}"
                                     alt="Cat">
                            {% endif %}
                        {% elif item.mouse %}
                            {% if not user_is_cat %}
                                <img class="ours"
                                     src="{% static 'img/mouse-selected.png' %}"
                                     alt="Mouse">
                            {% else %}
                                <img src="{% static 'img/mouse.png' %}"
                                     alt="Mouse">
                            {% endif %}

                        {% endif %}
                    </div>

                </div>
                {% if forloop.counter|divisibleby:8 or forloop.last %}</div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <p><a href="{% url 'landing' %}">Return to homepage</a></p>
    </div>
{% endblock content %}

