{% extends "mouse_cat/base.html" %}

{% block title %}
    Manual
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="container my-4">
            <h1 class="mb-4 display-3">How do I play?</h1>
            <p>In this game, two players face each other in a complex real-time
                strategy game.</p>
            <p>One will be playing the <b>mouse</b>, whose objective is to get
                to
                the other side of the board, while the other one will be the
                <b>cats</b>
                and attempt to block him so he can't move. </p>
            <p>While there are four cats and only one mouse, the mouse player
                has
                an ace up his sleeve: <b>he can move both forwards and
                    backwards</b>, while his opponents the cats <b>can only
                    move
                    forward</b>.</p>
        </div>


        <div class="container my-4">
            <h1>Joining a game</h1>
            <p>To begin, you need to join an existing game, or create your own.
                To
                do so, click on the "Play" button in the menu above. There, you
                can
                see all the games you're participting on, as well as join new
                games.</p>
            <p>If no games show up in the <i>New games</i> section, do not
                fear:
                with a click on the "New game" button you will have created
                your
                own, and as soon as someone joins it you will be set to play.
                Bear
                in mind you can only have one open empty game (in which no one
                has
                joined yet) at the same time.</p>
        </div>

        <div class="container my-4">
            <h1>Controlling your pieces</h1>
            <p>If it's your turn, you can click any of your pieces to see the
                possible moves, which will be highlighted. After selecting one
                piece, you can then click in one of the
                possible squares to perform a move. Then, the turn switches to
                your opponent, and you must wait until he makes a move.</p>
        </div>
    </div>
{% endblock %}